*{
    margin: 0;
    padding: 0;
    font-family: 'MetropolisNF', sans-serif;
}
:root{
    --font-col-black: #151515;
    --header-font-size: 44px;
    --subText-font-col: #555;
    --subText-font-size: 18px;
}

/* ---------- Section - 2 ---------- */
.section-2{
    padding: 160px 0 80px 0;
    border-bottom: 1px solid var(--font-col-black);
}
.section-2-grid{
    display: grid;
    grid-template-columns: auto auto;
}
.section-2-img{
    height: auto;
    width: 100%;

    /* animation-name: section2imageAnimation;
    animation-duration: 8s; */
}
.section-2-grid .grid-2{
    margin-left: 40px;
}
.section-2-grid .grid-2 h1{
    color: var(--font-col-black);
    font-size: var(--header-font-size);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 110%;
    width: 445px;
}
.section-2-grid .grid-2 p{
    color: var(--subText-font-col);
    font-size: var(--subText-font-size);
    line-height: 160%;
    margin: 40px 0 40px;
    width: 445px;
}
.section-2-grid .grid-2 button{
    background: var(--font-col-black);
    color: #ffffff;
    padding: 18px 32px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.1px;
    border: none;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.section-2-grid .grid-2 button:hover{
    background: transparent;
    color: var(--font-col-black);
    border: 1px solid var(--font-col-black);
    transition: 0.5s ease-in-out;
}

/* @keyframes section2imageAnimation{
    0%  {
        opacity: 0;
    }
    100% {
        opacity: 4;
    }
} */

@media screen and (min-width: 720px) and (max-width: 980px) {
    .section-2-grid .grid-2 h1{
        width: auto;
        font-size: 20px;
    }
    .section-2-grid .grid-2 p{
        width: auto;
        font-size: 10px;
        margin: 20px 0 20px 0;
        line-height: auto;
    }
    .section-2-grid .grid-2 button{
        font-size: 10px;
        padding: 9px 16px;
    }
}

@media screen and (min-width: 360px) and (max-width: 720px) {
    .section-2-grid{
        grid-template-columns: auto;
    }
    .section-2-img{
        width: 100%;
        height: auto;
    }
    .section-2-grid .grid-2{
        margin-left: 20px;
    }
    .section-2-grid .grid-2 h1{
        width: auto;
        font-size: 25px;
    }
    .section-2-grid .grid-2 p{
        width: auto;
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    .section-2-grid .grid-2 button{
        font-size: 14px;
        padding: 9px 16px;
    }
}

@media screen and (max-width: 360px) {
    .section-2-grid{
        grid-template-columns: auto;
    }
    .section-2-grid .grid-2{
        margin-left: 20px;
    }
    .section-2-grid .grid-2 h1{
        width: auto;
        font-size: 25px;
    }
    .section-2-grid .grid-2 p{
        width: auto;
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    .section-2-grid .grid-2 button{
        font-size: 14px;
        padding: 9px 16px;
    }
}