*{
    margin: 0;
    padding: 0;
    font-family: 'MetropolisNF', sans-serif;
}
:root{
    --color-black: #151515;
    --color-white: #ffffff;
}

/* ----------- Section - 1 ----------- */
/* .navigationBar{

} */

nav{
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 6% 42px 6%;
}
.logo-name{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.75em;
    text-transform: uppercase;
    transition: 0.5s;
}
.logo-name:hover{
    text-shadow: 0 0 7px #000;
    transition: 0.5s;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-white);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a{
    color: var(--color-white);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.nav-links ul li a img{
    width: 22px;
    height: 22px;
}
nav .fa{
    display: none;
}


@media screen and (min-width: 510px) and (max-width:980px) {
    .nav-links{
        position: fixed;
        background-color: var(--color-black);
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        display: block;
        color: var(--color-white);
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
    }
}

@media screen and (max-width: 510px) {
    nav{
        padding: 3% 21px;
    }
    .nav-links{
        position: fixed;
        background-color: var(--color-black);
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        display: block;
        color: var(--color-white);
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
    }
}